<%if(productos.length) { %>
    <h1 class="title">Listado de Productos</h1>
    <div id="main-container">
    <% productos.forEach(producto => { %>
        <div class="card">
            <h4>Nombre: <%= producto.nombre %></h4>
            <p>Descripcion: <%= producto.descripcion %></p>
            <p>Codigo: <%= producto.codigo %></p>
            <img alt="item img" src="<%=producto.thumbnail%>" width="100px" height="100px"/>
            <p>ARS$<%= producto.precio %></p>
            <p>Stock: <%= producto.stock %></p>
        </div>
        <% if (admin==='true') {%>
            <div class="elAdmin">
                <p>eres admin</p>
                <button>Actualizar</button>
                <button>Eliminar</button>
            </div>
            <% } else { " " } %> 
            <% }) %> 
        </div>
<% } else { %>
    <p>No hay productos cargados</p>
<% } %> 

<style>
    html, body {
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        line-height: 1.6;
        cursor: default;
    }
    .elAdmin {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .title{
        text-align: center;
        font-size: 40px;
        color: #6a6a6a6a;
        font-weight: 100;
    }
    #main-container{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    #main-container .card {
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    #main-container .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12 16 rgba(0, 0, 0, 0.2);
    }
    #main-container .card img{
        width: 330px;
        height: 220px;
    }
    #main-container .card h4{
        font-weight: 600;
    }
    #main-container .card p{
        pad: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
</style>