<%if(productos.length) { %>
    <h1 class="title">Listado de Productos</h1>
    <div id="main-container">
    <% productos.forEach(producto => { %>
        <div class="card">
            <h4>Nombre: <%= producto.nombre %></h4>
            <p>Descripcion: <%= producto.descripcion %></p>
            <p>Codigo: <%= producto.codigo %></p>
            <img alt="item img" src="<%=producto.thumbnail%>" width="100px" height="100px"/>
            <p>ARS$<%= producto.precio %></p>
            <p>Stock: <%= producto.stock %></p>
        </div>
        <% if (admin==='true') {%>
            <div class="elAdmin">
                <p>eres admin</p>
                <button>Actualizar</button>
                <button>Eliminar</button>
            </div>
            <% } else { " " } %> 
            <% }) %> 
        </div>
<% } else { %>
    <p>No hay productos cargados</p>
<% } %> 
